bcm2835/.git
*/src/
*/pkg/
*.pkg.tar.xz
*.tar.bz2
*.tar.gz
/*/**
!/*/PKGBUILD
!/*/.SRCINFO
!/*/*.patch
!/*/*.diff
!/*/*.install
!/*/*.hook
!/*/*.desktop
!/linux-steam-integration*/move-steam-lsi.sh
!/natron/config.pri
!/spriter-bin/spriter.sh
!/spriter-bin/spriter.png
!/linux-steam-integration*/*.sh
