pkgbase = openrazer-git
	pkgdesc = Community-led effort to support Razer peripherals on Linux (git version)
	pkgver = 3.8.0.r34.gd52042ab
	pkgrel = 1
	url = https://openrazer.github.io
	arch = any
	license = GPL-2.0-or-later
	makedepends = git
	makedepends = python-setuptools
	source = git+https://github.com/openrazer/openrazer.git
	sha256sums = SKIP

pkgname = openrazer-daemon-git
	pkgdesc = Userspace daemon that abstracts access to the kernel driver. Provides a DBus service for applications to use
	install = openrazer-daemon-git.install
	depends = libnotify
	depends = openrazer-driver-dkms
	depends = python-daemonize
	depends = python-dbus
	depends = python-gobject
	depends = python-pyudev
	depends = python-setproctitle
	depends = xautomation
	provides = openrazer-daemon
	conflicts = openrazer-daemon

pkgname = openrazer-driver-dkms-git
	pkgdesc = OpenRazer kernel modules sources
	install = openrazer-driver-dkms-git.install
	depends = dkms
	provides = openrazer-driver-dkms
	conflicts = openrazer-driver-dkms

pkgname = openrazer-meta-git
	pkgdesc = Meta package for installing all required openrazer packages.
	depends = openrazer-driver-dkms
	depends = openrazer-daemon
	depends = python-openrazer
	optdepends = polychromatic: frontend
	optdepends = razergenie: qt frontend
	optdepends = razercommander: gtk frontend
	provides = openrazer-meta
	conflicts = openrazer-meta

pkgname = python-openrazer-git
	pkgdesc = Library for interacting with the OpenRazer daemon
	depends = openrazer-daemon
	depends = python-numpy
	provides = python-openrazer
	conflicts = python-openrazer
