pkgbase = amarok-kf5-git
	pkgdesc = The powerful music player for KDE - KF5 GIT version
	pkgver = 2.8.90.r176.gc9b5bbb727
	pkgrel = 1
	url = http://amarok.kde.org
	arch = i686
	arch = x86_64
	license = GPL2
	license = LGPL2.1
	license = FDL
	makedepends = git
	makedepends = cmake
	makedepends = extra-cmake-modules
	makedepends = qt5-base
	makedepends = qt5-svg
	makedepends = qt5-script
	makedepends = qt5-declarative
	makedepends = qt5-webkit
	makedepends = kcoreaddons
	makedepends = solid
	makedepends = kdelibs4support
	makedepends = kdesignerplugin
	makedepends = kdoctools
	makedepends = kcodecs
	makedepends = threadweaver
	makedepends = plasma-framework
	makedepends = ktexteditor
	makedepends = kcmutils
	makedepends = knewstuff
	makedepends = knotifyconfig
	makedepends = kdnssd
	makedepends = taglib
	makedepends = libmariadbclient
	makedepends = taglib-extras
	makedepends = qca-qt5
	makedepends = liblastfm
	makedepends = ffmpeg
	makedepends = qjson
	makedepends = libgpod
	makedepends = gdk-pixbuf2
	makedepends = libmtp
	makedepends = loudmouth
	makedepends = libofa
	depends = kdelibs4support
	depends = threadweaver
	depends = kcmutils
	depends = libmariadbclient
	depends = knewstuff
	depends = ktexteditor
	depends = ffmpeg
	depends = libofa
	depends = taglib-extras
	provides = amarok
	conflicts = amarok
	source = git+https://anongit.kde.org/amarok.git#branch=kf5
	sha512sums = SKIP

pkgname = amarok-kf5-git

