pkgbase = pmos-matrix-bot-git
	pkgdesc = Friendly bot that does not try to destroy all humans
	pkgver = r17.e469888
	pkgrel = 1
	url = https://gitlab.com/postmarketOS/matrix-bot
	arch = x86_64
	license = GPL
	makedepends = git
	makedepends = go-pie
	provides = pmos-matrix-bot
	conflicts = pmos-matrix-bot
	backup = etc/conf.d/pmos-matrix-bot
	source = git+https://gitlab.com/postmarketOS/matrix-bot.git
	source = pmos-matrix-bot.service
	source = pmos-matrix-bot.conf
	sha512sums = SKIP
	sha512sums = 2390052f2d116a00bfa98b377a0f3e2195a9f48dff130729afe8ff39cc893b8f983f42f91a12d251ee27a417f5bc1e01c95d78410943a4ac337a63944dcc1c5e
	sha512sums = 90b308082d088bdb57ca559b8d52af5ff62dc16f47e1c63fe5359e76656498a4012f1989d19f6d32e3eae04c2acfe246858c19ef45f21d30c92d45a8b7d7ffb2

pkgname = pmos-matrix-bot-git

