pkgbase = pmos-matrix-bot-git
	pkgdesc = Friendly bot that does not try to destroy all humans
	pkgver = r11.a8ab9db
	pkgrel = 1
	url = https://gitlab.com/postmarketOS/matrix-bot
	arch = x86_64
	license = GPL
	makedepends = git
	makedepends = go-pie
	provides = pmos-matrix-bot
	conflicts = pmos-matrix-bot
	source = git+https://gitlab.com/postmarketOS/matrix-bot.git
	source = pmos-matrix-bot.service
	source = pmos-matrix-bot.conf
	sha512sums = SKIP
	sha512sums = 440d302d39aae2653676fa4aa9298f57b9d96cb1d760b836610b57e00c46e1e786197d9a45e1e0f7797695166f41091571865260ccb7cd062bcab4d0537ae801
	sha512sums = 9b8f258969e4ce61ea256dd12a74984a58092561f3d69c6d9fa1556e1b6f8627363dd71a00c30e6d54d20980fa9ad26b0e6050ecb7cfeae16587788ab6d96b14

pkgname = pmos-matrix-bot-git

